.sky{
    width: 100%;
    height: 100vh;
    position: relative;
    transition: background 0.3s;
    overflow: hidden;
}
.ball{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 200px;
    border-radius: 50%;
    transition: background 0.3s;
}
.daySky{
    background: #6CC2FB;
};
.nightSky{
    background: #182B38;
    background-image: url(https://images.wallpaperscraft.com/image/stars_space_dark_139528_1280x960.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:lighten;
}
.nightSky::before{
    position: absolute;
    width: 400px;
    height: 30px;
    top: -80px;
    right: -50px;
    content: "";
    background: #182B38;
    background-image: url(https://ak.picdn.net/shutterstock/videos/19524907/thumb/9.jpg);
    background-position: right center;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    animation: star;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes star{
    0%{
        transform: rotate(160deg);
        top: -50px;
        right: -50px;
    }
    100%{
        transform: rotate(150deg);
        top: calc(100vh + 50px);
        right: calc(100vw + 50px);
    }
}
.sun{
    background: #F4CE26;
    box-shadow: 0 0 150px #FFFF00;
}
.moon{
    background: #A1B2FF;
    box-shadow: 0 0 40px #fff;
}
.place{
    width: 120vw;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    bottom: -70px;
    left: -10vw;
}
.dayPlace{
    background: #5EEA38;
}
.nightPlace{
    background: #30771C;
}